.club-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    background-color: rgba(186, 213, 225, 0.662);
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 80px 30px;
}

.activity-container {
    background-color: #FFFFFF;
}